#!/usr/bin/env ruby

require 'yaml'
require 'json'
require 'lib/alpha_omega/deploy'

set :repository, "git@github.com:XXX/XXX.git"
set :application, "XXX"
set :releases, [ "alpha", "beta", "omega" ]
set :deploy_to, "/data/#{application}"

set :user, "XXX"
set :group, "XXX"

# ruby
set :ruby_loader, "env"

# branches
set :branch, AlphaOmega.what_branch(%w(master) + [%r(/)])

# pods, hosts, groups
AlphaOmega.setup_pods self, "/XXX" do |adm, n| 
  %w( role[XXX] 
  ).any? {|r| n["run_list"].member? r }
end

# XXX deploy
namespace :XXX do
  task :restart do
    sudo "sv restart /etc/service/XXX"
  end

  task :update_code do
    update_config
  end

  task :update_config do
    run "ln -nfs XXX.yml #{release_path}/config/"
    run "ln -nfs XXX #{release_path}/log"
  end
end

after "deploy:update_code","XXX:update_code"
after "deploy:restart","XXX:restart"
